<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772283572199-hb0g23nf5ds57c15fpd1vb2lg058fp0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772283572199-hb0g23nf5ds57c15fpd1vb2lg058fp0o</string>
	<key>API_KEY</key>
	<string>AIzaSyDxGFnMutyEPO5lrrtvNCYXdg57VHZ1BAU</string>
	<key>GCM_SENDER_ID</key>
	<string>772283572199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todo-firebase-25902</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-firebase-25902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772283572199:ios:e894bd60e96ac3848a6742</string>
</dict>
</plist>